<nav class="navbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>

    <% if (typeof loggedIn === "boolean" && loggedIn) { %>
      <li class="nav-item">
        <a class="nav-link" href="/hasher/">Hashers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/event/">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reports/honors-due">Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/logout">Logout</a>
      </li>
    <% } %>

  </ul>
</nav>
