<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../../partials/header'); %>
</header>

<main>
    <h1>Choose a Report</h1>
    <p><a href="/reports/honors-due">Honors Due</a></p>

</main>

    <%- include('../../partials/footer'); %>

</body>
</html>
