<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../../partials/header'); %>
</header>

<main>
  <form id="search_form" target="_self" method="post">
    <div class="input_box">
      <label for="search">Search for:</label>
      <input type="text" id="search" name="search" />
      <input id="search_submit" type="submit" value="Search" />
    </div>
  </form>

  <p><a href="/hasher/new">Add new hasher</a></p>

  <h3>Most recently edited hashers</h3>
  <%- include('../../partials/list-hashers'); %>

</main>

  <%- include('../../partials/footer'); %>

</body>
</html>
