<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <h1>Who is the Order of the H3?</h1>
    <p>This iteration of the site is a school assignment for Wes Contreras as part
      of his software development degree at WGU.</p>
</main>

    <%- include('../partials/footer'); %>

</body>
</html>
